:root {
  font-family: 'DM Sans', sans-serif;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --softRed: hsl(10 79% 65%);
  --cyan: hsl(186 34% 60%);
  --darkBrown: hsl(25 47% 15%);
  --mediumBrown: hsl(28 10% 53%);
  --cream: hsl(27 66% 92%);
  --veryPaleOrange: hsl(33 100% 98%);
}

body {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 15px;
  box-sizing: border-box;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background-color: var(--cream);
}

#root {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  width: 100%;
}